<div class="col-xl-12">
  <!--* Card header *-->
  <!--* Card body *-->
  <!--* Card init *-->
  <div class="card">
    <!-- Card header -->
    <div class="card-header">
      <!-- Surtitle -->
      <h6 class="surtitle">Overview BY doh.gov.ph</h6>
      <!-- Title -->
      <h5 class="h3 mb-0">Leptospirosis</h5>
      <h6 class="surtitle text-info">Philippines</h6>
      <br />
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a
            class="nav-item nav-link active"
            id="region1-tab"
            data-toggle="tab"
            href="#region1"
            role="tab"
            aria-controls="region1"
            aria-selected="true"
            >Region 1</a
          >
          <a
            class="nav-item nav-link"
            id="region2-tab"
            data-toggle="tab"
            href="#region2"
            role="tab"
            aria-controls="region2"
            aria-selected="false"
            >Region 2</a
          >
          <a
            class="nav-item nav-link"
            id="region3-tab"
            data-toggle="tab"
            href="#region3"
            role="tab"
            aria-controls="region3"
            aria-selected="false"
            >Region 3</a
          >
          <a
            class="nav-item nav-link"
            id="region4a-tab"
            data-toggle="tab"
            href="#region4a"
            role="tab"
            aria-controls="region4a"
            aria-selected="false"
            >Region 4 A</a
          >
          <a
            class="nav-item nav-link"
            id="region4b-tab"
            data-toggle="tab"
            href="#region4b"
            role="tab"
            aria-controls="region4b"
            aria-selected="false"
            >Region 4 B</a
          >
          <a
            class="nav-item nav-link"
            id="region5-tab"
            data-toggle="tab"
            href="#region5"
            role="tab"
            aria-controls="region5"
            aria-selected="false"
            >Region 5</a
          >
          <a
            class="nav-item nav-link"
            id="region6-tab"
            data-toggle="tab"
            href="#region6"
            role="tab"
            aria-controls="region6"
            aria-selected="false"
            >Region 6</a
          >
          <a
            class="nav-item nav-link"
            id="region7-tab"
            data-toggle="tab"
            href="#region7"
            role="tab"
            aria-controls="region7"
            aria-selected="false"
            >Region 7</a
          >
          <a
            class="nav-item nav-link"
            id="region8-tab"
            data-toggle="tab"
            href="#region8"
            role="tab"
            aria-controls="region8"
            aria-selected="false"
            >Region 8</a
          >
          <a
            class="nav-item nav-link"
            id="region9-tab"
            data-toggle="tab"
            href="#region9"
            role="tab"
            aria-controls="region9"
            aria-selected="false"
            >Region 9</a
          >
          <a
            class="nav-item nav-link"
            id="region10-tab"
            data-toggle="tab"
            href="#region10"
            role="tab"
            aria-controls="region10"
            aria-selected="false"
            >Region 10</a
          >
          <a
            class="nav-item nav-link"
            id="region11-tab"
            data-toggle="tab"
            href="#region11"
            role="tab"
            aria-controls="region11"
            aria-selected="false"
            >Region 11</a
          >
          <a
            class="nav-item nav-link"
            id="region12-tab"
            data-toggle="tab"
            href="#region12"
            role="tab"
            aria-controls="region12"
            aria-selected="false"
            >Region 12</a
          >
          <a
            class="nav-item nav-link"
            id="armm-tab"
            data-toggle="tab"
            href="#armm"
            role="tab"
            aria-controls="armm"
            aria-selected="false"
            >ARMM</a
          >
          <a
            class="nav-item nav-link"
            id="car-tab"
            data-toggle="tab"
            href="#car"
            role="tab"
            aria-controls="car"
            aria-selected="false"
            >CAR</a
          >
          <a
            class="nav-item nav-link"
            id="caraga-tab"
            data-toggle="tab"
            href="#caraga"
            role="tab"
            aria-controls="caraga"
            aria-selected="false"
            >CARAGA</a
          >
          <a
            class="nav-item nav-link"
            id="ncr-tab"
            data-toggle="tab"
            href="#ncr"
            role="tab"
            aria-controls="ncr"
            aria-selected="false"
            >NCR</a
          >
        </div>
      </nav>
      <!-- Tab Content -->
      <div class="tab-content" id="nav-tabContent">
        <div
          class="tab-pane fade show active"
          id="region1"
          role="tabpanel"
          aria-labelledby="region1-tab"
        >
          <div class="card-body">
            <div class="chart">
              <canvas id="analytics-lepto-r1" class="chart-canvas"></canvas>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade show"
          id="region2"
          role="tabpanel"
          aria-labelledby="region2-tab"
        >
          <div class="card-body">
            <div class="chart">
              <canvas id="analytics-lepto-r2" class="chart-canvas"></canvas>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="region3"
          role="tabpanel"
          aria-labelledby="region3-tab"
        >
          <div class="card-body">
            <div class="chart">
              <canvas id="analytics-lepto-r3" class="chart-canvas"></canvas>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="region4a"
          role="tabpanel"
          aria-labelledby="region4a-tab"
        >
          <div class="card-body">
            <div class="chart">
              <canvas id="analytics-lepto-r4a" class="chart-canvas"></canvas>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="region4b"
          role="tabpanel"
          aria-labelledby="region4b-tab"
        >
          <div class="card-body">
            <div class="chart">
              <canvas id="analytics-lepto-r4b" class="chart-canvas"></canvas>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="region5"
          role="tabpanel"
          aria-labelledby="region5-tab"
        >
          <div class="card-body">
            <div class="chart">
              <canvas id="analytics-lepto-r5" class="chart-canvas"></canvas>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="region6"
          role="tabpanel"
          aria-labelledby="region6-tab"
        >
          <div class="card-body">
            <div class="chart">
              <canvas id="analytics-lepto-r6" class="chart-canvas"></canvas>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="region7"
          role="tabpanel"
          aria-labelledby="region7-tab"
        >
          <div class="card-body">
            <div class="chart">
              <canvas id="analytics-lepto-r7" class="chart-canvas"></canvas>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="region8"
          role="tabpanel"
          aria-labelledby="region8-tab"
        >
          <div class="card-body">
            <div class="chart">
              <canvas id="analytics-lepto-r8" class="chart-canvas"></canvas>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="region9"
          role="tabpanel"
          aria-labelledby="region9-tab"
        >
          <div class="card-body">
            <div class="chart">
              <canvas id="analytics-lepto-r9" class="chart-canvas"></canvas>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="region10"
          role="tabpanel"
          aria-labelledby="region10-tab"
        >
          <div class="card-body">
            <div class="chart">
              <canvas id="analytics-lepto-r10" class="chart-canvas"></canvas>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="region11"
          role="tabpanel"
          aria-labelledby="region11-tab"
        >
          <div class="card-body">
            <div class="chart">
              <canvas id="analytics-lepto-r11" class="chart-canvas"></canvas>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="region12"
          role="tabpanel"
          aria-labelledby="region12-tab"
        >
          <div class="card-body">
            <div class="chart">
              <canvas id="analytics-lepto-r12" class="chart-canvas"></canvas>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="armm"
          role="tabpanel"
          aria-labelledby="armm-tab"
        >
          <div class="card-body">
            <div class="chart">
              <canvas id="analytics-lepto-armm" class="chart-canvas"></canvas>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="car"
          role="tabpanel"
          aria-labelledby="car-tab"
        >
          <div class="card-body">
            <div class="chart">
              <canvas id="analytics-lepto-car" class="chart-canvas"></canvas>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="caraga"
          role="tabpanel"
          aria-labelledby="caraga-tab"
        >
          <div class="card-body">
            <div class="chart">
              <canvas id="analytics-lepto-caraga" class="chart-canvas"></canvas>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="ncr"
          role="tabpanel"
          aria-labelledby="ncr-tab"
        >
          <div class="card-body">
            <div class="chart">
              <canvas id="analytics-lepto-ncr" class="chart-canvas"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
