<div class="col-xl-12">
  <!--* Card header *-->
  <!--* Card body *-->
  <!--* Card init *-->
  <div class="card">
    <!-- Card header -->
    <div class="card-header">
      <!-- Surtitle -->
      <!-- Title -->
      <h5 class="h3 mb-0">Disease</h5>
      <h6 class="surtitle text-info">Philippines</h6>
      <br />
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a
            class="nav-item nav-link active"
            id="region1-tab"
            data-toggle="tab"
            href="#region1"
            role="tab"
            aria-controls="region1"
            aria-selected="true"
            >Stroke</a
          >
          <a
            class="nav-item nav-link"
            id="region2-tab"
            data-toggle="tab"
            href="#region2"
            role="tab"
            aria-controls="region2"
            aria-selected="false"
            >Tuberculosis</a
          >
          <a
            class="nav-item nav-link"
            id="region3-tab"
            data-toggle="tab"
            href="#region3"
            role="tab"
            aria-controls="region3"
            aria-selected="false"
            >Hypertension</a
          >

        </div>
      </nav>
      <!-- Tab Content -->
      <div class="tab-content" id="nav-tabContent">
        <div
          class="tab-pane fade show active"
          id="region1"
          role="tabpanel"
          aria-labelledby="region1-tab"
        >
          <div class="card-body">
            <div class="chart">
              <canvas id="analytics-lepto-r1" class="chart-canvas"></canvas>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade show"
          id="region2"
          role="tabpanel"
          aria-labelledby="region2-tab"
        >
          <div class="card-body">
            <div class="chart">
              <canvas id="analytics-lepto-r2" class="chart-canvas"></canvas>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="region3"
          role="tabpanel"
          aria-labelledby="region3-tab"
        >
          <div class="card-body">
            <div class="chart">
              <canvas id="analytics-lepto-r3" class="chart-canvas"></canvas>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="region4a"
          role="tabpanel"
          aria-labelledby="region4a-tab"
        >
          <div class="card-body">
            <div class="chart">
              <canvas id="analytics-lepto-r4a" class="chart-canvas"></canvas>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="region4b"
          role="tabpanel"
          aria-labelledby="region4b-tab"
        >
          <div class="card-body">
            <div class="chart">
              <canvas id="analytics-lepto-r4b" class="chart-canvas"></canvas>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="region5"
          role="tabpanel"
          aria-labelledby="region5-tab"
        >
          <div class="card-body">
            <div class="chart">
              <canvas id="analytics-lepto-r5" class="chart-canvas"></canvas>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="region6"
          role="tabpanel"
          aria-labelledby="region6-tab"
        >
          <div class="card-body">
            <div class="chart">
              <canvas id="analytics-lepto-r6" class="chart-canvas"></canvas>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="region7"
          role="tabpanel"
          aria-labelledby="region7-tab"
        >
          <div class="card-body">
            <div class="chart">
              <canvas id="analytics-lepto-r7" class="chart-canvas"></canvas>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="region8"
          role="tabpanel"
          aria-labelledby="region8-tab"
        >
          <div class="card-body">
            <div class="chart">
              <canvas id="analytics-lepto-r8" class="chart-canvas"></canvas>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="region9"
          role="tabpanel"
          aria-labelledby="region9-tab"
        >
          <div class="card-body">
            <div class="chart">
              <canvas id="analytics-lepto-r9" class="chart-canvas"></canvas>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="region10"
          role="tabpanel"
          aria-labelledby="region10-tab"
        >
          <div class="card-body">
            <div class="chart">
              <canvas id="analytics-lepto-r10" class="chart-canvas"></canvas>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="region11"
          role="tabpanel"
          aria-labelledby="region11-tab"
        >
          <div class="card-body">
            <div class="chart">
              <canvas id="analytics-lepto-r11" class="chart-canvas"></canvas>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="region12"
          role="tabpanel"
          aria-labelledby="region12-tab"
        >
          <div class="card-body">
            <div class="chart">
              <canvas id="analytics-lepto-r12" class="chart-canvas"></canvas>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="armm"
          role="tabpanel"
          aria-labelledby="armm-tab"
        >
          <div class="card-body">
            <div class="chart">
              <canvas id="analytics-lepto-armm" class="chart-canvas"></canvas>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="car"
          role="tabpanel"
          aria-labelledby="car-tab"
        >
          <div class="card-body">
            <div class="chart">
              <canvas id="analytics-lepto-car" class="chart-canvas"></canvas>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="caraga"
          role="tabpanel"
          aria-labelledby="caraga-tab"
        >
          <div class="card-body">
            <div class="chart">
              <canvas id="analytics-lepto-caraga" class="chart-canvas"></canvas>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="ncr"
          role="tabpanel"
          aria-labelledby="ncr-tab"
        >
          <div class="card-body">
            <div class="chart">
              <canvas id="analytics-lepto-ncr" class="chart-canvas"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
