<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
      {% load static %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>SH 102</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/blue.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/print.css' %}" media="print" />
    <link
      type="text/css"
      rel="stylesheet"
      href="{% static 'css/bootstrap.min.css' %}"
      media="print"
    />
    <script type="text/javascript" src="{% static 'js/jquery.tipsy.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/cufon.yui.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/scrollTo.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/myriad.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.colorbox.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.slim.min.js' %}"></script>

    <script type="text/javascript">
      Cufon.replace("h1,h2");
    </script>
  </head>
  <body>

    <!-- Begin Wrapper -->
    <div id="wrapper">
      <div class="wrapper-top"></div>
      <div class="wrapper-mid">
        <!-- Begin Paper -->
        <div id="paper">
          <div id="paper-mid">
            <div class="entry">
              <!-- Begin Image -->

              <!-- End Image -->
              <!-- Begin Personal Information -->
              <div class="self">
                <h1 class="name">Patient Number<br /></h1>
              </div>
              <!-- End Personal Information -->
              <!-- Begin Social -->
              <div class="social">
                <a class="north" href="javascript:window.print()" title="Print"
                  ><img src="images/icn-print.jpg" alt=""
                />Print</a>
                <button type="button"><a href="{% url 'users:edit_profile' request.user.username%}">Edit Profile</a></button>
                  <button type="button"><a href="{% url 'logout' %}">Logout</a></button>
              </div>
              <!-- End Social -->
            </div>
            <!-- Begin 1st Row -->
            <div class="entry">
              <h2>Personal Information</h2>
              <div class="content">
                <ul class="skills">
                  <li>Name: {{ user.lastName }} {{ user.firstName }}, {{ user.middleName }}</li>
                  <li>Address: {{ user.homeAddress }}</li>
                </ul>
                <br />
                <br />
                <ul class="skills">
                  <li>Birthdate: {{ user.birthDate }}</li>
                  <li>Gender: {{ user.gender }}</li>
                  <li>Civil Status: {{ user.maritalStatus }}</li>
                  <li>Contact Number: {{ user.mobile_number }}</li>
                  <li>Email: {{ user.email }}</li>
                </ul>
              </div>
            </div>
            <div class="entry">
              <h2>Medical Problems</h2>
              <p>
                {{ user.medicalProblems }}
              </p>
            </div>
            <div class="entry">
              <h2>Medical Directives</h2>
              <p>
                {{ user.medicalDirectives }}
              </p>
            </div>
            <!-- End 1st Row -->
            <!-- Begin 2nd Row -->
            <div class="entry">
              <h2>Medications</h2>
              <ul class="works">
                {{ user.medications }}
              </ul>
            </div>
            <!-- End 2nd Row -->
            <!-- Begin 3rd Row -->
            <!-- End 3rd Row -->
            <!-- Begin 4th Row -->
            <div class="entry">
              <h2>Medical Informations</h2>
              <div class="content">
                <h3>Personal</h3>
                <h5>Date: Feb. 69, 2020</h5>
                <ul class="skills">
                  <li>Height: {{ user.height }} (in)</li>
                  <li>Weight: {{ user.weight }} (lbs)</li>
                  <li>Temperature: {{ user.temperature }} (deg C)</li>
                  <li>Temperature Site: {{ user.tempSite }}</li>
                  <li>Pulse Rate: {{ user.pulseRate }} (/min)</li>
                  <li>Pulse Rhytm: {{ user.pulseRhytm }}</li>
                  <li>Resp. Rate: {{ user.respRate }} (/min)</li>
                  <li>BP Systolic: {{ user.bpSystolic }} (mm Hg)</li>
                  <li>BP Diastolic: {{ user.bpDiastolic }} (mm Hg)</li>
                  <li>Cholesterol: {{ user.cholesterol }} (mm/dL)</li>
                  <li>Hdl: {{ user.hdl }} (mm/dL)</li>
                  <li>Ldl: {{ user.ldl }} (mm/dL)</li>
                  <li>BG Random: {{ user.bgRandom }} (mm/dL)</li>
                  <li>CXR: {{ user.cxr }}</li>
                  <li>EKG: {{ user.ekg }}</li>
                  <li>PAP Smear: {{ user.papSmear }}</li>
                  <li>Mammogram: {{ user.mammogram }}</li>
                  <li>Hemoccult: {{ user.hemoccult }}</li>
                  <li>Flu Vax: {{ user.fluVax }}</li>
                  <li>Pneumovax: {{ user.pneumovax }}</li>
                  <li>TD Booster: {{ user.tdBooster }}</li>
                  <li>Foot Exam: {{ user.footExam }}</li>
                  <li>Eye Exam: {{ user.eyeExam }}</li>
                </ul>
              </div>
              <div class="content">
                <h3>Test</h3>
                <h5>Date: Feb. 69, 2020</h5>
                <ul class="skills">
                  <li>AKL PHOS: {{ user.alkPhos }}</li>
                  <li>BG Random: {{ user.bgRandom }}(mg/dL)</li>
                  <li>Bun: {{ user.bun }}(mg/dL)</li>
                  <li>Calcium: {{ user.calcium }}(mg/dL)</li>
                  <li>Chloride: {{ user.chloride }}(mmo/L)</li>
                  <li>CO2: {{ user.co2 }}(mmo/L)</li>
                  <li>Creatinine: {{ user.creatinine }}(mg/dL)</li>
                  <li>P04: {{ user.po4 }}(mg/dL)</li>
                  <li>Potassium: {{ user.potassium }}(mmo/L)</li>
                  <li>SGOT (AST): {{ user.sgot }}(U/L)</li>
                  <li>Bili Total: {{ user.biliTotal }}(mg/dL)</li>
                  <li>Uric Acid: {{ user.uricAcid }}(mg/dL)</li>
                  <li>LDH Total: {{ user.ldhTotal }}(UI/L)</li>
                  <li>Sodium: {{ user.sodium }}(mmo/L)</li>
                </ul>
              </div>
            </div>
            <div class="entry">
              <h2>NOTE:</h2>
              <p style="color: red;">
                *This is confidential, don't share your personal information to others!*
              </p>
            </div>
            <!-- End 4th Row -->
            <!-- Begin 5th Row -->

            <!-- Begin 5th Row -->
          </div>
          <div class="clear"></div>
          <div class="paper-bottom"></div>
        </div>
        <!-- End Paper -->
      </div>
      <div class="wrapper-bottom"></div>
    </div>
    <div id="message">Go to Top</a></div>
    <!-- End Wrapper -->
  </body>
</html>