<div class="col">
  <div class="card">
    <!-- Card header -->
    <div class="table-responsive py-4">
      <table class="table table-flush" id="datatable-buttons">
        <thead class="thead-light">
          <tr>
            <th>Medical ID</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Contact Number</th>
            <th>Marital Status</th>
            <th>Birthdate</th>
            <th>Medical Problems</th>
            <th>Medications</th>
            <th>Ward</th>
            <th>Date Joined</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Medical ID</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Contact Number</th>
            <th>Marital Status</th>
            <th>Birthdate</th>
            <th>Medical Problems</th>
            <th>Medications</th>
            <th>Ward</th>
            <th>Date Joined</th>
            <th>Actions</th>
          </tr>
        </tfoot>
        <tbody>
          {% if request.user.userType == 'Nurse' or request.user.userType == 'Doctor' %}
                {% for p in qs %}
          <tr>

            <td>MDHAU{{p.id}}SH102</td>
            <td>{{p.gender}}</td>
            <td>{{p.email}}</td>
            <td>{{p.mobile_number}}</td>
            <td>{{p.maritalStatus}}</td>
            <td>{{p.birthDate}}</td>
            <td>{{p.medicalProblems}}</td>
            <td>{{p.medications}}</td>
            <td>{{p.ward}}</td>
            <td>{{p.date_joined}}</td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-info btn-sm">
                  <a href="{% url 'users:profile' p.username %}">View</a>
                </button>
                <button type="button" class="btn btn-success btn-sm">
                    <a href="{% url 'users:editProfile' p.username%}">Update</a>
                </button>
                <button type="button" class="btn btn-danger btn-sm">
                  <a href="{% url 'users:delete' p.username %}">Delete</a>
                </button>
              </div>
            </td>
          </tr>
          {% endfor %}

          {% elif request.user.userType == 'Client' %}
                {% for p in qs %}
          <tr>

            <td>MDHAU{{p.id}}SH102</td>
            <td>{{p.gender}}</td>
            <td>{{p.email}}</td>
            <td>{{p.mobile_number}}</td>
            <td>{{p.maritalStatus}}</td>
            <td>{{p.birthDate}}</td>
            <td>{{p.medicalProblems}}</td>
            <td>{{p.medications}}</td>
            <td>{{p.ward}}</td>
            <td>{{p.date_joined}}</td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-info btn-sm">
                  <a href="{% url 'users:profile' p.username %}">View</a>
                </button>
                <button type="button" class="btn btn-success btn-sm">
                  Update
                </button>
                <button type="button" class="btn btn-danger btn-sm">
                  <a href="{% url 'users:delete' p.username %}">Delete</a>
                </button>
              </div>
            </td>
          </tr>
          {% endfor %}
          {% endif %}

        </tbody>
      </table>
    </div>
  </div>
</div>
