<!-- <div class="form-group mb-3">
  <div class="input-group input-group-merge input-group-alternative">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
    </div>
    <input
      type="text"
      name="username"
      class="form-control"
      placeholder="Client`s Username"
    />
  </div>
</div>

<div class="form-group">
  <div class="input-group input-group-merge input-group-alternative">
    <div class="input-group-prepend">
      <span class="input-group-text"
        ><i class="ni ni-lock-circle-open"></i
      ></span>
    </div>
    <input
      type="text"
      name="hospitalName"
      class="form-control"
      placeholder="Client`s Hospital Name"
    />
  </div>
</div>

<div class="form-group">
  <div class="input-group input-group-merge input-group-alternative">
    <div class="input-group-prepend">
      <span class="input-group-text"
        ><i class="ni ni-lock-circle-open"></i
      ></span>
    </div>
    <input
      type="email"
      name="email"
      class="form-control"
      placeholder="Client`s Email"
    />
  </div>
</div>

<div class="form-group">
  <div class="input-group input-group-merge input-group-alternative">
    <div class="input-group-prepend">
      <span class="input-group-text"
        ><i class="ni ni-lock-circle-open"></i
      ></span>
    </div>
    <input
      type="password"
      name="password1"
      class="form-control"
      placeholder="Enter Password"
    />
  </div>
</div>

<div class="form-group">
  <div class="input-group input-group-merge input-group-alternative">
    <div class="input-group-prepend">
      <span class="input-group-text"
        ><i class="ni ni-lock-circle-open"></i
      ></span>
    </div>
    <input
      type="password"
      name="password2"
      class="form-control"
      placeholder="Re-enter Password"
    />
  </div>
</div>

<div class="form-group">
  <div class="input-group input-group-merge input-group-alternative">
    <div class="input-group-prepend">
      <span class="input-group-text"
        ><i class="ni ni-lock-circle-open"></i
      ></span>
    </div>
    <select name="userType">
      <option value="Client">Client</option>
    </select>
  </div>
</div> -->

<div class="col-lg-12">
  <div class="card-wrapper">
    <!-- Input groups -->
    <div class="card">
      <!-- Card header -->
      <div class="card-header">
        <h3 class="mb-0">Add Client</h3>
      </div>
      <!-- Card body -->
      <div class="card-body">
        <form method="post">
            {% csrf_token %}
          <!-- Input groups with icon -->
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="input-group input-group-merge">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="fas fa-user"></i
                    ></span>
                  </div>
                  <input
                    name="username"
                    class="form-control"
                    placeholder="Username"
                    type="text"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="input-group input-group-merge">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="fas fa-hospital"></i
                    ></span>
                  </div>
                  <input
                    name="hospitalName"
                    class="form-control"
                    placeholder="Hospital Name"
                    type="text"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="input-group input-group-merge">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="fas fa-at"></i
                    ></span>
                  </div>
                  <input
                    name="email"
                    class="form-control"
                    placeholder="Email"
                    type="email"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="input-group input-group-merge">
                  <input
                    name="password1"
                    class="form-control"
                    placeholder="Password"
                    type="password"
                  />
                  <div class="input-group-append">
                    <span class="input-group-text"
                      ><i class="fas fa-eye"></i
                    ></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="input-group input-group-merge">
                  <input
                    name="password2"
                    class="form-control"
                    placeholder="Re-enter Password"
                    type="password"
                  />
                  <div class="input-group-append">
                    <span class="input-group-text"
                      ><i class="fas fa-eye"></i
                    ></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <select name="userType" hidden>
                <option value="Client">Client</option>
            </select>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>