<div class="col-lg-12">
  <div class="card-wrapper">
    <div class="card">
      <div class="card-header">
        <h3 class="mb-0">Add Patient</h3>
      </div>

      <div class="card-body">
        <form method="post">
            {% csrf_token %}
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <div class="input-group input-group-merge">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="fas fa-user"></i
                    ></span>
                  </div>
                  <input
                    name="firstName"
                    class="form-control"
                    placeholder="First Name"
                    type="text"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="input-group input-group-merge">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="fas fa-user"></i
                    ></span>
                  </div>
                  <input
                    name="middleName"
                    class="form-control"
                    placeholder="Middle Name"
                    type="text"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="input-group input-group-merge">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="fas fa-user"></i
                    ></span>
                  </div>
                  <input
                    name="lastName"
                    class="form-control"
                    placeholder="Last Name"
                    type="text"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <div class="input-group input-group-merge">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="fas fa-venus-mars"></i
                    ></span>
                  </div>
                  <select name="gender" class="form-control">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                    <option value="Prefer not to say">Prefer not to say</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <div class="input-group input-group-merge">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="fas fa-user"></i
                    ></span>
                  </div>
                  <input
                    name="email"
                    class="form-control"
                    placeholder="Email"
                    type="email"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="input-group input-group-merge">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="fas fa-mobile-alt"></i
                    ></span>
                  </div>
                  <input
                    name="mobile_number"
                    class="form-control"
                    placeholder="Mobile Number"
                    type="number"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <div class="input-group input-group-merge">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="fas fa-user-md"></i
                    ></span>
                  </div>
                  <input
                    name="doctorPK"
                    class="form-control"
                    placeholder="Doctor's Username"
                    type="text"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="input-group input-group-merge">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="fas fa-procedures"></i
                    ></span>
                  </div>
                  <select name="ward" class="form-control">
                    <option value="SH-101">SH-101</option>
                    <option value="SH-102">SH-102</option>
                    <option value="SH-201">SH-201</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>