<div class="col-xl-12">
  <!--* Card header *-->
  <!--* Card body *-->
  <!--* Card init *-->
  <div class="card">
    <!-- Card header -->
    <div class="card-header">
      <!-- Surtitle -->
      <h6 class="surtitle">Overview by The World Bank</h6>
      <!-- Title -->
      <h5 class="h3 mb-0">Tuberculosis</h5>
      <h6 class="surtitle text-info">Philippines</h6>
    </div>
    <!-- Card body -->
    <div class="card-body">
      <div class="chart">
        <!-- Chart wrapper -->
        <canvas id="analytics-tb" class="chart-canvas"></canvas>
      </div>
    </div>
  </div>
</div>
