{% load static %}

<script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/js-cookie/js.cookie.js' %}"></script>
<script src="{% static 'vendor/jquery.scrollbar/jquery.scrollbar.min.js' %}"></script>
<script src="{% static 'vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js' %}"></script>

<!-- Data tables -->
<script src="{% static 'vendor/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'vendor/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'vendor/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'vendor/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'vendor/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
<script src="{% static 'vendor/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'vendor/datatables.net-select/js/dataTables.select.min.js' %}"></script>

<!-- Optional JS -->
<script src="{% static 'vendor/chart.js/dist/Chart.min.js' %}"></script>
<script src="{% static 'vendor/chart.js/dist/Chart.extension.js' %}"></script>
<!-- Argon JS -->
<script src="{% static 'js/argon.js' %}"></script>

<!-- Charts (Patients Dashboard) -->
{#<script src="{% static 'charts/patients_chart_total_patient.js' %}"></script>#}
<script src="{% static 'charts/patients_chart_total_diseases.js' %}"></script>

<!-- Charts (Analytics Dashboard) -->
<script src="{% static 'charts/analytics_tb.js' %}"></script>
<script src="{% static 'charts/analytics_dengue.js' %}"></script>
<script src="{% static 'charts/analytics_lepto.js' %}"></script>
<script src="{% static 'charts/analytics_hiv.js' %}"></script>
<script src="{% static 'charts/analytics_meningococcal.js' %}"></script>

<script src="{% static 'js/landingpage_main.js' %}"></script>









