<div class="form-group mb-3">
    <div
            class="input-group input-group-merge input-group-alternative"
    >
        <div class="input-group-prepend">
            <span class="input-group-text"
            ><i class="fas fa-signature"></i
            ></span>
        </div>
        <input type="text" name="name" class="form-control" placeholder="Drug Name">
    </div>
</div>

<div class="form-group mb-3">
    <div
            class="input-group input-group-merge input-group-alternative"
    >
        <div class="input-group-prepend">
            <span class="input-group-text"
            ><i class="fas fa-signature"></i
            ></span>
        </div>
        <input type="text" name="genericName" class="form-control" placeholder="Generic Name">
    </div>
</div>

<div class="form-group mb-3">
    <div
            class="input-group input-group-merge input-group-alternative"
    >
        <div class="input-group-prepend">
            <span class="input-group-text"
            ><i class="fas fa-list"></i
            ></span>
        </div>
        <input type="text" name="category" class="form-control" placeholder="Category">
    </div>
</div>

<div class="form-group mb-3">
    <div
            class="input-group input-group-merge input-group-alternative"
    >
        <div class="input-group-prepend">
            <span class="input-group-text"
            ><i class="fas fa-list-ol"></i
            ></span>
        </div>
        <input type="number" name="quantity" class="form-control" placeholder="Quantity">
    </div>
</div>

