<div class="col">
  <div class="card">
    <!-- Card header -->
    <div class="table-responsive py-4">
      <table class="table table-flush" id="datatable-buttons">
        <thead class="thead-light">
          <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Contact Number</th>
            <th>Address</th>
            <th>Ward Assigned</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Contact Number</th>
            <th>Address</th>
            <th>Ward Assigned</th>
            <th>Actions</th>
          </tr>
        </tfoot>
        <tbody>
          {% for n in object_list.qs %}
          <tr>
            <td>
              {{n.lastName}}, {{n.firstName}} {{n.middleName}}
            </td>
            <td>{{n.gender}}</td>
            <td>{{n.email}}</td>
            <td>{{n.mobile_number}}</td>
            <td>{{n.homeAddress}}</td>
            <td>{{n.ward}}</td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-success btn-sm">
                  Update
                </button>
                <button type="button" class="btn btn-danger btn-sm">
                  <a href="{% url 'users:delete' n.username %}">Delete</a>
                </button>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
