<div
    class="header pb-6 d-flex align-items-center"
    style="min-height: 500px; background-size: cover; background-position: center top; background-color: aliceblue;"
>
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
        <div class="row">
            <div class="col-lg-7 col-md-10">
                <h1 class="display-2 text-white">
                    Hello {{patient.firstName}}
                </h1>
                <p class="text-white mt-0 mb-5">
                    This is your profile page. You can see the progress your
                    medical record and status here.
                </p>
            </div>
        </div>
    </div>
</div>
